@import "fonts";
@import "colors";
@import "mixins";
@import "responsive";

body {
    background-color: $main_beige;
}

.header {
    margin: 50px 0px;
    .header__title {
        font-family: 'CreatoDisplay-Black';
        font-size: 72px;
        text-align: center;
        color: $main_brown;
    }

    .header__subtitle {
        font-family: 'CreatoDisplay-Regular';
        font-size: 24px;
        text-align: center;
        color: $main_brown;
    }
}

.blog {
    @include flex-column;
    align-items: center;
    color: $main_brown;

    .blog__item {
        @include flex-column;
        gap: 20px;
        width: 45%;

        .blog__item_header {

            .blog__item_header_title {
                font-family: 'CreatoDisplay-ExtraBold';
                font-size: 64px;
                line-height: 56px;
            }
    
            .blog__item_header_subtitle {
                font-family: 'CreatoDisplay-Bold';
                font-size: 32px;
            }
        }

        .blog__item_content {
            @include flex-column;
            gap: 20px;

            .blog__item_content_text {
                font-family: 'CreatoDisplay-Regular';
                font-size: 20px;
            }

            .blog__item_content_title {
                font-family: 'CreatoDisplay-Bold';
                font-size: 32px;
            }
        }
    }
}