@import "colors";
@import "fonts";
@import "mixins";

body {
    margin: 0 50px;
    min-height: 100vh;
    @include flex-column;
}

.header {
    @include flex-column;
    gap: 15px;
    width: 100%;

    .header__top {
        @include flex-row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 5px solid $main_gray;

        .header__top_title {
            @include flex-row;
            align-items: center;
            gap: 10px;

            img {
                width: 34px;
                height: 42px;
            }

            h1 {
                font-family: 'CreatoDisplay-Black';
                font-size: 64px;
                margin: 0;
                color: $main_gray;
            }
        }

        .header__top_timer {
            h1 {
                font-family: 'CreatoDisplay-Black';
                color: $main_gray;
                font-size: 48px;
                margin: 0;
            }
        }
    }

    .header__bottom {
        @include flex-row;
        align-items: center;
        gap: 10px;

        span {
            display: block;
            background-color: $main_gray;
            width: 15px;
            height: 15px;
        }

        p {
            font-family: 'CreatoDisplay-Bold';
            color: $main_gray;
            font-size: 24px;
            margin: 0;
        }
    }
}

.content {
    display: flex;
    flex: 1;
    align-self: stretch;

    .content__home {
        @include flex-row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .content__home_left {
            @include flex-column;
            justify-content: center;

            .content__home_title {
                display: block;
                width: fit-content;
                background-color: $main_gray;
                color: $main_white;
                padding: 10px 20px;
                font-family: 'CreatoDisplay-Black';
                font-size: 96px;
                text-transform: uppercase;
                margin: 0;
            }
    
            .content__home_subtitle {
                display: block;
                width: fit-content;
                color: $main_gray;
                font-family: 'CreatoDisplay-Black';
                font-size: 64px;
                margin: 0;
            }
    
            .content__home_desc {
                display: block;
                color: $main_gray;
                width: 70%;
                font-family: 'CreatoDisplay-Bold';
                font-size: 36px;
                margin: 0;
            }

        }

        .content__home_right {

            img {
                width: 80%;
                height: 80%;
            }
        }
    }
}


.footer {
    @include flex-row;
    justify-content: space-between;
    border-top: 5px solid $main_gray;
    padding: 15px 0px;

    .footer__left {
        @include flex-row;
        gap: 40px;

        .footer__left_link {
            @include flex-row;
            align-items: center;
            gap: 10px;

            span {
                display: block;
                background-color: $main_gray;
                width: 15px;
                height: 15px;
            }

            a {
                margin: 0;
                font-family: 'CreatoDisplay-Bold';
                font-size: 24px;
                color: $main_gray;
                text-transform: uppercase;
                text-decoration: none;
            }
        }
    }

    .footer__right {
        @include flex-row;
        align-items: center;
        gap: 40px;

        .footer__right_socials {
            @include flex-row;
            gap: 30px;
        }

        .footer__right_date {
            margin: 0;
            font-family: 'CreatoDisplay-Bold';
            font-size: 24px;
            color: $main_gray;
        }
    }
}