@import "colors";
@import "fonts";
@import "mixins";
@import "responsive";

body {
    margin: 0 50px;
    min-height: 100vh;
    @include flex-column;

    @media only screen and (max-width : $phone-landscape) {
        margin: 0 20px;
    }
}

.header {
    @include flex-column;
    gap: 15px;
    width: 100%;

    .header__top {
        @include flex-row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 5px solid $main_gray;

        .header__top_title {
            @include flex-row;
            align-items: center;
            gap: 10px;

            img {
                width: 34px;
                height: 42px;
            }

            h1 {
                font-family: 'CreatoDisplay-Black';
                font-size: 64px;
                margin: 0;
                color: $main_gray;
            }
        }

        .header__top_menu {
            @include flex-column;
            gap: 5px;
            cursor: pointer;
            display: none;

            span {
                display: block;
                width: 30px;
                height: 5px;
                background-color: $main_gray;
            }
        }
    }

    .header__bottom {
        @include flex-row;
        align-items: center;
        gap: 10px;

        span {
            display: block;
            background-color: $main_gray;
            width: 15px;
            height: 15px;
        }

        p {
            font-family: 'CreatoDisplay-Bold';
            color: $main_gray;
            font-size: 24px;
            margin: 0;
            text-transform: uppercase;
        }
    }

    .header__mobile-menu {
        @include flex-column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: $main_white;
        display: none;
        z-index: 100;

        .header__mobile-menu_list {
            @include flex-column;
            gap: 50px;
            text-align: center;

            a {
                font-family: 'CreatoDisplay-Bold';
                font-size: 36px;
                text-transform: uppercase;
                color: $main_gray;
                text-decoration: none;
            }

            .header__mobile-menu_list_socials {
                @include flex-row;
                gap: 30px;
            }
        }

        .header__mobile-menu_close {
            position: absolute;
            top: 40px;
            right: 60px;
            cursor: pointer;

            &::after {
                content: '';
                height: 50px;
                border-left: 5px solid $main_gray;
                position: absolute;
                transform: rotate(45deg);
            }

            &::before {
                content: '';
                height: 50px;
                border-left: 5px solid $main_gray;
                position: absolute;
                transform: rotate(-45deg);
            }
        }
    }

    @media only screen and (max-width : $phone-landscape) {
        gap: 5px;

        .header__top {

            .header__top_title {

                img {
                    width: 16px;
                    height: 21px;
                }

                h1 {
                    font-size: 40px;
                }
            }

            .header__top_menu {
                display: inherit;
            }
        }

        .header__bottom {

            span {
                height: 10px;
                width: 10px;
            }

            p {
                font-size: 16px;
            }
        }
    }
}

.content {
    display: flex;
    flex: 1;
    align-self: stretch;

    .content__home {
        @include flex-row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        //display: none;

        .content__home_left {
            @include flex-column;
            justify-content: center;

            .content__home_title {
                display: block;
                width: fit-content;
                background-color: $main_gray;
                color: $main_white;
                padding: 10px 20px;
                font-family: 'CreatoDisplay-Black';
                font-size: 96px;
                text-transform: uppercase;
                margin: 0;
            }

            .content__home_subtitle {
                display: block;
                width: fit-content;
                color: $main_gray;
                font-family: 'CreatoDisplay-Black';
                font-size: 64px;
                margin: 0;
            }

            .content__home_desc {
                display: block;
                color: $main_gray;
                width: 70%;
                font-family: 'CreatoDisplay-Bold';
                font-size: 36px;
                margin: 0;
            }

        }

        .content__home_right {

            img {
                width: 80%;
                height: 80%;
            }
        }

        @media only screen and (max-width: $tablet-landscape) {

            .content__home_right {
                display: none;
            }
        }

        @media only screen and (max-width : $phone-landscape) {
            justify-content: center;

            .content__home_left {
                align-items: center;

                .content__home_title {
                    font-size: 64px;
                }

                .content__home_subtitle {
                    font-size: 48px;
                }

                .content__home_desc {
                    font-size: 24px;
                    text-align: center;
                    width: 100%;
                }
            }
        }

        @media only screen and (max-width : $phone-portrait) {
            .content__home_left {

                .content__home_title {
                    font-size: 48px;
                }

                .content__home_subtitle {
                    font-size: 36px;
                }

                .content__home_desc {
                    font-size: 18px;
                }
            }
        }
    }

    .content__portfolio {
        @include flex-column;
        justify-content: center;
        gap: 15px;
        display: none;

        .content__portfolio_article {
            @include flex-column;

            .content__portfolio_article_title {
                font-family: 'CreatoDisplay-Black';
                font-size: 96px;
                line-height: 80px;

                a {
                    color: $main_gray;
                    text-decoration: none;
                }
            }

            .content__portfolio_article_tech {
                font-family: 'CreatoDisplay-ExtraBold';
                font-size: 36px;
                color: $main_gray;
            }

            .content__portfolio_article_date {
                font-family: 'CreatoDisplay-Medium';
                font-size: 36px;
                color: $main_gray;

                a {
                    color: $main_gray;
                }
            }
        }

        @media only screen and (max-width: $tablet-portrait) {
            .content__portfolio_article {

                .content__portfolio_article_title {
                    font-size: 72px;
                }

                .content__portfolio_article_tech {
                    font-size: 28px;
                }

                .content__portfolio_article_date {
                    font-size: 28px;
                }
            }
        }

        @media only screen and (max-width: $phone-landscape) {
            align-items: center;
            width: 100%;

            .content__portfolio_article {

                .content__portfolio_article_title {
                    font-size: 64px;
                    line-height: 72px;
                    text-align: center;
                }

                .content__portfolio_article_tech {
                    font-size: 18px;
                    text-align: center;
                }

                .content__portfolio_article_date {
                    font-size: 18px;
                    text-align: center;
                }
            }
        }

        @media only screen and (max-width: 620px) {
            .content__portfolio_article {

                .content__portfolio_article_title {
                    font-size: 48px;
                    line-height: 50px;
                }
            }
        }

        @media only screen and (max-width: $phone-portrait) {
            gap: 30px;

            .content__portfolio_article {

                .content__portfolio_article_title {
                    font-size: 36px;
                    line-height: 40px;
                }

                .content__portfolio_article_tech {
                    font-size: 18px;
                }

                .content__portfolio_article_date {
                    font-size: 18px;
                }
            }
        }
    }

    .content__about {
        @include flex-row;
        justify-content: space-between;
        align-items: center;
        display: none;

        .content__about_bio {
            @include flex-column;
            gap: 30px;
            width: 40%;

            .content__about_bio_title {
                font-family: 'CreatoDisplay-Black';
                color: $main_gray;
                font-size: 64px;
                text-transform: uppercase;
            }

            .content__about_bio_desc {
                font-family: 'CreatoDisplay-Medium';
                font-size: 24px;
                color: $main_gray;
            }
        }

        .content__about_skills {
            @include flex-column;
            gap: 30px;
            width: 40%;

            .content__about_skills_title {
                font-family: 'CreatoDisplay-Black';
                color: $main_gray;
                font-size: 64px;
                text-transform: uppercase;
            }

            .content__about_skills_list {
                @include flex-row;
                gap: 60px;

                .content__about_skills_list_item {
                    @include flex-column;
                    gap: 10px;

                    div {
                        font-family: 'CreatoDisplay-Bold';
                        font-size: 20px;
                        color: $main_gray;
                    }
                }
            }

            .content__about_skills_experience {
                @include flex-row;
                position: relative;
                gap: 20px;

                .content__about_skills_experience_item {
                    @include flex-column;
                    justify-content: center;
                    background-color: $main_gray;
                    color: $main_white;
                    padding: 20px 40px;
                    gap: 10px;
                    display: none;
                    width: 100%;
                    height: 150px;

                    .content__about_skills_experience_item_title {
                        font-family: 'CreatoDisplay-Black';
                        font-size: 24px;
                    }

                    .content__about_skills_experience_item_subtitle {
                        font-family: 'CreatoDisplay-Bold';
                        font-size: 14px;
                    }

                    .content__about_skills_experience_item_desc {
                        font-family: 'CreatoDisplay-Regular';
                        font-size: 14px;
                    }
                }

                .arrowleft {
                    position: absolute;
                    top: 40%;
                    left: 14px;
                    font-size: 24px;
                    color: $main_white;
                    cursor: pointer;
                }

                .arrowright {
                    position: absolute;
                    top: 40%;
                    right: 14px;
                    font-size: 24px;
                    color: $main_white;
                    cursor: pointer;
                }
            }

            .content__about_skills_expdots {
                @include flex-row;
                justify-content: center;
                gap: 10px;

                .expdot {
                    cursor: pointer;
                    height: 14px;
                    width: 14px;
                    background-color: $main_white;
                    border: 1px solid $main_gray;
                    margin: 0 2px;
                    border-radius: 50%;
                    display: inline-block;
                    transition: background-color 0.6s ease;
                }

                .active {
                    background-color: $main_gray;
                    height: 15px;
                    width: 15px;
                    border: none;
                }
            }
        }

        @media only screen and (max-width: $tablet-landscape) {
            .content__about_bio {
                gap: 20px;

                .content__about_bio_title {
                    font-size: 48px;
                }
    
                .content__about_bio_desc {
                    font-size: 18px;
                }
            }
    
            .content__about_skills {
                gap: 20px;

                .content__about_skills_title {
                    font-size: 48px;
                }
    
                .content__about_skills_list {
                    gap: 40px;
    
                    .content__about_skills_list_item {
    
                        div {
                            font-size: 14px;
                        }
                    }
                }

                .content__about_skills_experience {
    
                    .content__about_skills_experience_item {
                        padding: 10px 35px;
    
                        .content__about_skills_experience_item_title {
                            font-size: 20px;
                        }
    
                        .content__about_skills_experience_item_subtitle {
                            font-size: 12px;
                        }
    
                        .content__about_skills_experience_item_desc {
                            font-size: 12px;
                        }
                    }
                }
            }
        }

        @media only screen and (max-width: $tablet-portrait) {
            @include flex-column;
            gap: 20px;
            justify-content: center;
            display: none;

            .content__about_bio {
                width: 100%;
                align-items: center;
    
                .content__about_bio_title {
                    font-size: 36px;
                    text-align: center;
                }
    
                .content__about_bio_desc {
                    font-size: 14px;
                    width: 80%;
                    text-align: center;
                }
            }
    
            .content__about_skills {
                width: 100%;
    
                .content__about_skills_title {
                    font-size: 36px;
                    text-align: center;
                }
    
                .content__about_skills_list {
                    @include flex-row;
                    gap: 30px;
                    justify-content: center;
    
                    .content__about_skills_list_item {
                        @include flex-column;
                        gap: 10px;
    
                        div {
                            font-size: 14px;
                            text-align: center;
                        }
                    }
                }
    
                .content__about_skills_experience {
                    justify-content: center;
    
                    .content__about_skills_experience_item {
                        width: 50%;
                    }
    
                    .arrowleft {
                        left: 14px;
                        font-size: 36px;
                        color: $main_gray;
                    }
    
                    .arrowright {
                        right: 14px;
                        font-size: 36px;
                        color: $main_gray;
                    }
                }
            }
        }

        @media only screen and (max-width: $phone-landscape) {

            .content__about_skills {

                .content__about_skills_expdots {
                    display: none;
                }
            }
        }

        @media only screen and (max-width: $phone-portrait) {
            @include flex-column;
            gap: 20px;
            justify-content: center;
            display: none;

            .content__about_bio {
                width: 100%;
                align-items: center;
    
                .content__about_bio_title {
                    font-size: 26px;
                    text-align: center;
                }
    
                .content__about_bio_desc {
                    font-size: 12px;
                    width: 80%;
                    text-align: center;
                }
            }
    
            .content__about_skills {
                width: 100%;
    
                .content__about_skills_title {
                    font-size: 26px;
                    text-align: center;
                }
    
                .content__about_skills_list {
                    @include flex-row;
                    gap: 10px;
                    justify-content: center;
    
                    .content__about_skills_list_item {
                        @include flex-column;
                        gap: 10px;
    
                        div {
                            font-size: 12px;
                            text-align: center;
                        }
                    }
                }
    
                .content__about_skills_experience {
    
                    .content__about_skills_experience_item {
                        width: 60%;
                        padding: 20px 20px;

                        .content__about_skills_experience_item_title {
                            font-size: 16px;
                        }
    
                        .content__about_skills_experience_item_subtitle {
                            font-size: 12px;
                        }
    
                        .content__about_skills_experience_item_desc {
                            font-size: 12px;
                        }
                    }
    
                    .arrowleft {
                        left: 10px;
                        font-size: 36px;
                        color: $main_gray;
                    }
    
                    .arrowright {
                        right: 10px;
                        font-size: 36px;
                        color: $main_gray;
                    }
                }
            }
        }
    }
}

.footer {
    @include flex-row;
    justify-content: space-between;
    border-top: 5px solid $main_gray;
    padding: 15px 0px;

    .footer__left {
        @include flex-row;
        gap: 40px;

        .footer__left_link {
            @include flex-row;
            align-items: center;
            gap: 10px;

            span {
                display: block;
                background-color: $main_gray;
                width: 15px;
                height: 15px;
            }

            a {
                margin: 0;
                font-family: 'CreatoDisplay-Bold';
                font-size: 24px;
                color: $main_gray;
                text-transform: uppercase;
                text-decoration: none;
            }

            &:hover {

                span {
                    animation: linkOnHover 0.5s;
                }
            }
        }
    }

    .footer__right {
        @include flex-row;
        align-items: center;
        gap: 40px;

        .footer__right_socials {
            @include flex-row;
            gap: 30px;
        }

        .footer__right_date {
            margin: 0;
            font-family: 'CreatoDisplay-Bold';
            font-size: 24px;
            color: $main_gray;
        }
    }

    @media only screen and (max-width: $tablet-landscape) {
        .footer__left {
            gap: 20px;

            .footer__left_link {
                a {
                    font-size: 16px;
                }
            }
        }

        .footer__right {
            gap: 20px;

            .footer__right_date {
                font-size: 16px;
            }
        }
    }

    @media only screen and (max-width: $tablet-portrait) {
        .footer__left {
            gap: 15px;

            .footer__left_link {
                span {
                    width: 10px;
                    height: 10px;
                }

                a {
                    font-size: 14px;
                }
            }
        }

        .footer__right {
            gap: 15px;

            .footer__right_socials {
                gap: 15px;

                img {
                    width: 30px;
                    height: 30px;
                }
            }

            .footer__right_date {
                font-size: 14px;
            }
        }
    }

    @media only screen and (max-width : $phone-landscape) {
        justify-content: flex-end;

        .footer__left {
            display: none;
        }
    }

    @media only screen and (max-width : $phone-portrait) {
        justify-content: center;
    }

    @keyframes linkOnHover {
        0% {
            transform: rotateY(0deg);
        }

        100% {
            transform: rotateY(360deg);
        }
    }
}